<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Usuário</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

        <style>

            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body{
                font-family: "Rubik", sans-serif;
                background-color: #F9DC5C;
            }

            #card{
                background-color: #F7F3E3;
                width: 450px;
                border: none;
                border-radius: 12px;
            }

            h1{
                color: #6F1A07;
            }

            label{
                color: #2B2118;
                font-weight: 500;
            }

        </style>

    </head>

    <body>

        <div class="container vh-100 d-flex justify-content-center align-items-center">

            <div class="card p-4" id="card">

                <div class="mb-3" id="mensagem"></div>

                <h1 class="text-center mb-4">Edição de Usuario</h1>

                <input value="<%= usuario.id %>" type="text" id="usuarioId" hidden></input>

                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" value="<%= usuario.nome %>" id="username" type="username" name="username"></input>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">E-mail</label>
                    <input class="form-control" value="<%= usuario.email %>" id="email" type="email" name="email"></input>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="senha">Senha</label>
                    <input class="form-control" id="senha" type="password" name="senha"></input>
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-primary w-100" id="btnCadastrarUsuario" type="submit">Cadastrar</button>
                </div>

            </div>

        </div>

        <script>

            const btnCadastrarUsuario = document.getElementById("btnCadastrarUsuario")
            
            btnCadastrarUsuario.addEventListener("click", cadastrarUsuario)

            async function cadastrarUsuario(e)
            {
                e.preventDefault()

                const id = document.getElementById("usuarioId")
                const username = document.getElementById("username")
                const email = document.getElementById("email")
                const senha = document.getElementById("senha")

                const url = "/user/edit"

                const response = await fetch(url,
                    {
                        method:'PUT',
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body: JSON.stringify(
                            {
                                id: id.value,
                                username: username.value,
                                email: email.value,
                                senha: senha.value
                            })
                    })
                
                const data = await response.json()

                console.log(data)

                if(response.ok)
                {
                    mensagem.innerHTML = `
                        <div class="alert alert-success">
                            Usuário cadastrado com sucesso!
                        </div>
                    `

                    username.value = ""
                    email.value = ""
                    senha.value = ""
                }
                else
                {
                    mensagem.innerHTML = `
                        <div class="alert alert-danger">
                            Erro ao cadastrar usuário!
                        </div>
                    `
                }

                console.log(data)
            }

        </script>

    </body>

</html>
